@using MVCQLBH.Models
@using MVCQLBH.Ultilities

@{ 
    Layout = "~/Views/Shared/_LayoutManageProduct.cshtml";
}
@section ContentHeader{
    Trang chủ cho Admin
}

@section style{
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}

@section script{
    <script src="~/Content/js/lightbox.min.js"></script>
    <script type="text/javascript">
    </script>
}


<h2>Chúc bạn một ngày vui vẻ</h2>
