@model MVCQLBH.Models.Product

@{
    ViewBag.Title = "ManageProduct";
    Layout = "~/Views/Shared/_LayoutManageProduct.cshtml";
}

@section ContentHeaderManageProduct{
    ManageProduct
}

<h2>ManageProduct</h2>