@using MVCQLBH.Models
@using MVCQLBH.Ultilities

@model IList<Product>

@{
    ViewBag.Title = "ManageProduct";
    Layout = "~/Views/Shared/_LayoutManageProduct.cshtml";
}

@section style{
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}

@section script{
    <script src="~/Content/js/lightbox.min.js"></script>
    <script type="text/javascript">
    </script>
}


@section ContentHeaderManageProduct{
    Trang chủ cho Admin
}

<h2>Chúc bạn một ngày vui vẻ</h2>