
@section style{
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
}

@section ContentHeader{
    Đăng kí tài khoản
}

<h4 class="alert alert-success" role="alert">
    @*<i class="fa fa-check-circle"/>*@
        Đăng ký tài khoản thành công
</h4>